<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.ghx">
    <!--android:sharedUserId="ghx.haha"-->

    <uses-sdk android:minSdkVersion="8"></uses-sdk>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainpart.MainPartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--友盟信息统计-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="599699f61061d223410018d3" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ghx_app_store" />

        <!--友盟推送-->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="72566735c194ddc021e5d02a5d67a9cb" />

    </application>



</manifest>